__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
.env
.env.*
!.env.example
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.DS_Store
frontend/npm-debug.log
frontend/yarn-error.log
.DS_Store
*.log
*.zip
*.tar
*.gz
*.pid
db_data/
*.db  
.vscode/
.idea/
*.bak