@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
}


/* Optionally, you can add basic global styles here if needed.
   For example, setting a default font or body background. */

/* body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc; /* A very light gray background for the app */
/* }*/

